<div class="sidebar fonts">
  <img src="https://icons-for-free.com/iconfiles/png/512/facebook+pencil+write+post+icon-1320166641210096755.png"
       style="width: 50%; margin-left: 80px; margin-bottom: -10px">
  <div style="text-align: center; margin-bottom: 3px">
    <button class="btnCreatePost" mat-button (click)="goToCreatePost()">Create Post</button>
  </div>
  <div style="text-align: center">
    <button class="btnCreateCategory"  mat-button (click)="goToCreateSubreddit()">Create Category</button>
  </div>
</div>
