.sidebar{
  width: 312px;
  height: 242px;
  --post-line-color: #ccc;
  border: 1px solid rgba(136, 136, 136, 0.29);
  margin-bottom: 10px;
  overflow: hidden;
  background-color: rgba(255,255,255,0.8);
  color: #878A8C;
  position: relative;
  padding:5px;
  margin-top: 10px;
}

.btnCreatePost, .btnCreateCategory{
  width: 288px;
  height: 34px;
  margin-top: 5px;
  color: #0079D3;
  background-color: rgba(203, 202, 202, 0.47);
}

.btnCreatePost:hover, .btnCreateCategory:hover {
  background-color: rgb(7, 47, 87);
  color: white;
  font-weight: bold;
}
.fonts button{
  font-family: 'Montserrat', sans-serif;
}
