.title{
  margin-left: 30px;
  font-size: 30px;
  width: auto;
  align-items: center;
  display: inline;
  font-family: 'Rowdies', cursive;
  text-decoration: none;
}
.font{
  font-family: 'Rowdies', cursive;
}
.logo{
  font-size: 50px;
  margin-left: 50px;
  margin-bottom: 22px;
}
.logo:hover{
  color: #072075;
  cursor: pointer;
}
.bar{
  padding:  40px 0;
  background-color: rgb(169, 217, 255);
}

.example-spacer {
  flex:  auto;
}

.font:hover{
  background-color: #072075;
  color: white;
}

mat-toolbar{
  top: 0;
  z-index: 100;
  position: fixed;
  width: 100%;

}
.content{
  margin-top: 79px;
}
