<mat-card class="row post" *ngFor="let post of posts">
  <mat-card-subtitle style="margin-top: 8px">
    <span> Posted {{post.duration}} by <b>{{post.userName}}</b></span>
  </mat-card-subtitle>
  <mat-card-title>
    <hr/>
    <div class="post-title">
      <a class="postname">{{post.postName}}</a>
    </div>
  </mat-card-title>
  <mat-card-content>
    <p class="post-text">{{post.description}}</p>
  </mat-card-content>
  <hr />
  <mat-card-footer style="margin-left: 5px">

      <mat-icon style="font-size: 20px"> chat_bubble_outline</mat-icon>
    <mat-label>Comments({{post.commentCount}})</mat-label>

    <button class="font"
            (click)="goToPost(post.id)" mat-flat-button style="margin-left: 15px; margin-right: 5px">Read Post</button>
      <app-like [post]="post"></app-like>
  </mat-card-footer>
</mat-card>
